<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blood Donation</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">BLOOD DONATION</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">HOME</a></li>
        <li id="register"><a href="/register">REGISTER</a></li>
        <li id="donors"><a href="/donors">DONORS</a></li>
        <li id="recipients"><a href="/recipients">RECIPIENTS</a></li>
        <li id="contact"><a href="">CONTACT</a></li>
        <li id="about"><a href="">ABOUT</a></li>
        <li id="hospital"><a href="/hospital">HOSPITAL</a></li>
      </ul>
    </div>
  </nav>

<body>
  <div class="container">