<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Donation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles_login.css">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand">BLOOD DONATION</p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li id="home1"><a href="#">HOME</a></li>
                <li id="login"><a href="/login">LOGIN</a></li>
                <li id="about"><a href="#">ABOUT</a></li>
            </ul>
        </div>
    </nav>
</head>

<body>