<%- include("partials/header2"); -%>
<div class="not-pre">
    <h2>About Us</h2>
</div>
    <div class="about-us-div">
        <pre class="about-us">
            Welcome to our About Us page! We are a group of five individuals who have come together to make a difference in
            people's lives through blood donation. Our team is passionate about promoting the importance of blood donation
            and connecting donors with those in need.
    
            Our mission is to create a safe and reliable platform for blood donation. We believe that everyone has the power
            to save a life and that by making the process of blood donation easy and accessible, we can improve health
            outcomes for people all over the world.
    
            We understand that donating blood can be a daunting experience, which is why we have made it our priority to
            provide a user-friendly platform and support our donors every step of the way. Our website provides information
            on the donation process, eligibility criteria, and the importance of blood donation. We also have a database of
            blood banks and hospitals, making it easier for donors to find a location near them.
    
            Our team is made up of experts in the fields of technology, healthcare, and design, who work together to provide
            a seamless experience for our users. We are committed to ensuring that every donation is handled with the utmost
            care and respect, and we strive to make a positive impact on the lives of those who need it the most.
    
            We believe that by bringing together donors and those in need, we can create a community that is stronger,
            healthier, and more connected. We invite you to join us on this mission and become a part of something bigger
            than ourselves. Together, we can make a difference.
        </pre>
    </div>
    <div class="not-pre">
        <h2>Team Members:</h2>
        <ol>
            <li>Sudhi Krishna N A</li>
            <li>Syam Sundar</li>
            <li>Parthiv Manoj</li>
            <li>Sweeto Dominic</li>
            <li>Sreejesh Mohan</li>
        </ol>
    </div>
    <%- include("partials/footer2"); -%>