<%- include("partials/header"); -%>
    <h1 style="text-align: center;">Home</h1>
    <!-- <img class="home-img" src="https://coolwallpapers.me/picsup/1512209-american-psycho.jpg" alt="bale"> -->
    <img class="home-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAUM_moMrwGiBCVgUL-Pu0B1Gn9b_z10ecHA&usqp=CAU" alt="bale">
<%- include("partials/footer"); -%>