<%- include("partials/header2"); -%>
    <!-- <h1 style="text-align: center;">Home</h1> -->
    <!-- <img class="home-img" src="https://coolwallpapers.me/picsup/1512209-american-psycho.jpg" alt="bale"> -->
    <img style="background-image: url('https://cdn.wallpapersafari.com/75/92/GFi4Nh.png'); background-size: cover;" class="home-img"  alt="">
<%- include("partials/footer2"); -%>