<%- include("partials/header"); -%>
    <h1 style="text-align: center;">Home</h1>
    <img class="home-img" src="https://coolwallpapers.me/picsup/1512209-american-psycho.jpg" alt="bale">
<%- include("partials/footer"); -%>