<%- include("partials/header"); -%>
    <h1>TRANSFER OPTION</h1>

    <div class="background-image">
    </div>
    <div class="content">
        <div class="row">
            <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://img.icons8.com/windows/64/null/user.png" class="card-img-top"
                        alt="Individual-Image">
                    <div class="card-body">
                        <h5 class="card-title">Individual</h5>
                        <p class="card-text">Individual blood transfer</p>
                        <a href="/transfer/transfer_p" class="btn btn-primary">Click here</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://img.icons8.com/pastel-glyph/64/null/hospital--v4.png" class="card-img-top"
                        alt="Hospital-Image">
                    <div class="card-body">
                        <h5 class="card-title">Hospital</h5>
                        <p class="card-text">Hospital blood transfer</p>
                        <a href="/transfer/transfer_h" class="btn btn-primary">Click here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>