<%- include("partials/header"); -%>
    <h1>HOSPITAL TRANSFER PAGE</h1>

    <form action="/transfer" method="post">
        <div class="form-container">
            <input type="text" class="textbox" name="b_grp" placeholder="Enter the blood type">
            <div class="arrow-container">
                <i class="arrow">➜</i>
            </div>
            <input type="number" class="textbox" name="qty" placeholder="Enter the quantity">
            <div class="arrow-container">
                <i class="arrow">➜</i>
            </div>
            <input type="number" class="textbox" name="hID" placeholder="Enter the hospital's id">
            <button type="submit" class="btn button">Transfer</button>
        </div>
    </form>
<%- include("partials/footer"); -%>