html {
    min-height: 100%;
    position: relative;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

form {
    width: 50%;
    margin: 0 auto;
}

label {
    display: inline;
    margin-bottom: 8px;
}

.form-div {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
    padding-bottom: 60px;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1abc9c;
}

.footer p {
    margin: 20px 0;
    font-size: 16px;
    color: #fff;
}

.form-container {
    display: flex;
    align-items: center;
}

.textbox {
    width: 180px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 15px;
    cursor: pointer;
}

.arrow-container {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.arrow {
    font-size: 20px;
}